<fieldset>

     <div class="inputs">

        <div class="field-name">Chef's name</div>

        <input type="text" name="chef_name" placeholder="Chef's name" value="{{chef.name}}">

    </div>


    <div class="input chef">

        <div class="field-name">
            Chef's avatar
        </div>
        
        
            <div class="show-avatar">
                {%if chef %}
                <div class="photo" id={{chef.file_id}}>
                    <img src="{{chef.path}}" alt="{{chef.image_name}}">
                    <i class="material-icons"
                    onclick="ChefAvatar.removePhotosOnDbBySendingImagesId(event)">delete_forever</i>

                </div>
                    {% endif %}
                <input type='hidden' name='removed_image_id'/>

            </div>

                <div id="photos-upload">
                <button type='button'>Add Avatar</button>
                <input type="file" 
                id="photos-input"
                name="photos"
                multiple
                accept='image/*' 
                onchange='ChefAvatar.handleAvatar(event)'/>        
            </div>
               
    </div>

</fieldset>