<fieldset>
    <div class="user-fields">
            <div class="inputs">

                <div class="field-name">Name</div>

                <input type="text" name="name" placeholder="Type your name" value="{{user.name}}">

            </div>


            <div class="inputs">

                <div class="field-name">Email</div>

                <input type="email" name="email" placeholder="Type your eamil" value="{{user.email}}">      
            </div>


    </div>
     
    <div class="inputs">

       <div class="field-name-admin">
            <input id="is_admin" type="checkbox" name="is_admin" placeholder="Type a password."/>
            Administrator
        </div>
    </div>

   

</fieldset>