
<script>
// Delete button in the FORM
const deleteButton = document.querySelector("#links button#delete")
deleteButton.onclick = function (event) { //this event is the event submit of the delete form
  const userConfirmation = confirm("'OK' to delete. 'CANCEL' do go back.")
  if (!userConfirmation) {
    event.preventDefault()
  }
}




 function confirmDeletion(event){
                    const userConfirmation = confirm('Do you want to delete this user? This action also deletes recipes!')
                    if(!userConfirmation) {
                    event.preventDefault()                }
                }

</script>