{% extends "layout.njk" %}

{% block title %}
    <title>Foodfy Main</title>
{% endblock %}

{% block filter %}
    <form id="search-resources" method="GET" action="/chefs">
        <input type="text" name="filter" placeholder="Search chefs by name"
        value="{{filter}}" 
        >
    <button id="search" type="submit">Search</button>
    </form>
{%endblock %}

{% block content %}
    <div class="background-img">
        <img src="/assets/chef.png" alt="Chef">

        <h1 class="title">Our Chefs</h1>
        <p class="phrase">Learn how to make the best dishes with recipes from chefs located all over the world.</p>

    </div>

    <div>
        <h2 class="hot-topics">
            <a href="/chefs">Chefs</a>
        </h2>
    </div>

    <section class="cards">

        {% for chef in chefs %}
            {% if loop.index <= 6 %}
                <div class="card" id="{{chef.id}}">

                    <div class="card-img">
                        <img src="{{chef.path}}" alt="Chef Image">
                    </div>

                    <div class="card-info">
                        <h6 class="food-author recipe">{{chef.name}}</h6>
                    </div>
                </div>
            {% endif %}
        {% endfor %}

    </section>

</div>

{% endblock %}