{% extends "layout.njk" %}

{% block title %}
    <title>Logged User</title>
{% endblock %}

{% block header %}
    <div class="header-foodfy-admin">
        <img id="logo-foodfy-admin" src="/assets/logo_admin.png" alt="Logo Foodfy Admin">
        <a id="recipes" href="/admin/receitas">Recipes</a>
        <a id="chefs" href="/admin/chefs">Chefs</a>
        {% if user.is_admin == true %}
        <a id="users" href="/admin/users">Users</a> 
        {% endif %}

                 
            <form action="/admin/users/logout" method="POST" id="logout">
                <button type='submit'>Logout</button>   
            </form>  
            
            <nav class="submenu">        
                <ul >
                    <li id="li-submenu">
                        <a href="/admin/users/profile">{{user.name}}</a>
                    </li>
                    <li id="li-submenu">
                        <ul>
                            <li><a href="/admin/myreceitas">My Recipes</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>

              
    </div>
   

{% endblock %}

{% block content %}

    <div id="manage-logged-user">
        <h2>Welcome {{user.name}}</h2>
        <div class="users-buttons">
            <button type="submit" form="logged-user" id="save">Save</button>
            
        </div>
    </div>

    <form id="logged-user" method="POST"  action="/admin/users/profile?_method=PUT">

        {% include "admin/profile/fields.njk" %}
        
    </form>

</div>

{% endblock %}

{% block footer%}{% endblock %}