{% extends "layout.njk" %}

{% block title %}
    <title>Logged User</title>
{% endblock %}

{% block header %}
    <div class="header-foodfy-admin">
        <img id="logo-foodfy-admin" src="/assets/logo_admin.png" alt="Logo Foodfy Admin">
        <a id="recipes" href="/admin/receitas">Recipes</a>
        <a id="chefs" href="/admin/chefs">Chefs</a>
        <a id="users" href="/admin/users">Users</a>
        <a id="logout" href="#">Logout</a>
    </div>
{% endblock %}

{% block content %}

    <div id="manage-logged-user">
        <h2>Welcome {{user.name}}</h2>
        <div class="users-buttons">
            <button type="submit" form="logged-user" id="save">Save</button>
            
        </div>
    </div>

    <form id="logged-user" method="POST"  action="/admin/users/profile?_method=PUT">

        {% include "admin/profile/fields.njk" %}
        
    </form>

</div>

{% endblock %}

{% block footer%}{% endblock %}